<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Capital Marketing</title>
  <meta name="description" content="Buy, rent or sell property in your capital Islamabad">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/contact-us.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="/css/swiper.min.css">

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

  <div class="preloader">
    <img draggable="false" class="preloader-logo" src="/img/logo.jpg" alt="">

    <!--<div class="loader">
    </div>
    <p>Loading</p>-->

    <h1 class="not-available-txts">Dear Visitor, we are working to change severel things. 
      Website is not available at this time. Let's try another time.
    </h1>

    <a href="/contact-us" class="preloader-cntct-btn">Contact us now</a>
  </div>





<div class="main-screen">
  <div class="navbar">
    <div class="aside">
        <div class="name-logo">
            <a href="">
              <img draggable="false" src="/img/logo.jpg" alt="Logo Image">
            </a>
        </div>
        <div class="options">
            <select class="option-inside areas" name="areas">
              <option value="all-areas">Select Area</option>
              <option value="all-categories">Cars</option>
              <option value="all-categories">Bikes</option>
              <option value="mobile-phone">Mobile Phone</option>
              <option value="all-categories">Houses</option>
              <option value="all-categories">Plots</option>
            </select>

            <select class="option-inside types" name="types">
              <option value="all-areas">Select Property Type</option>
              <option value="all-categories">Plots for sale</option>
              <option value="all-categories">Houses on rent</option>
              <option value="mobile-phone">Houses for sale</option>
              <option value="all-categories">Apartments on rent</option>
              <option value="all-categories">Apartments for sale</option>
            </select>

            <input class="option-inside search" type="search" name="search" placeholder="Search here">
            <button class="option-inside btn" type="submit">Search</button>
        </div>
        <div class="logos">
            <i class="fa fa-user user"></i>
        </div>
    </div>
    <div class="nav-options">
        <ul class="nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#team">Our Team</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </div>
  </div>
  <div class="copyright-text">
      <p>&copy; 2020 Hussnain portfolio template. All rights are reserved.</p>
  </div>






  <div class="content">
    <section id="home" class="home section">
      <div class="swiper-container">
       <!--<div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="caption">
                  <h1>Beautiful House On Sale</h1>
                  <p>5 Marla Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                   <div class="buttons">
                     <a class="btn buy-now" href="#">Contact Now</a>
                     <a class="btn ad-cart" href="#">See Details</a>
                   </div>
            </div>
            <img src="/img/image1.png" style="height: 400px;">
          </div>
          <div class="swiper-slide">
            <div class="caption">
                  <h1>2. An Exclusive Plot On Sale</h1>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                   <div class="buttons">
                     <a class="btn buy-now" href="#">Contact Now</a>
                     <a class="btn ad-cart" href="#">See Details</a>
                   </div>
            </div>
            <img src="/img/exclusive.jpg" style="height: 300px; width: 400px;">
          </div>
        </div> -->


        <!--
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>-->
      </div>
    </section>






    <!--<section id="products" class="products section">
      <div class="section-title">
          <h1>Products</h1>
      </div>
      <div class="all-products">
        <div class="product-item">
          <div class="product-img">
            <img class="shop-img" src="/img/product-1.jpg">
            <p class="shop-price">Rs.500</p>
          </div>
          <div class="product-info">
            <h1 class="shop-title">Red T-Shirt</h1>
            <button class="add-cart btn">Add To Cart</button>
            <button class="add-wish btn">Buy Now</button>
          </div>
        </div>
        <div class="product-item">
          <div class="product-img">
            <img class="shop-img" src="/img/product-2.jpg">
            <p class="shop-price">Rs.1500</p>
          </div>
          <div class="product-info">
            <h1 class="shop-title">HRX Black Shoes</h1>
            <button class="add-cart btn">Add To Cart</button>
            <button class="add-wish btn">Buy Now</button>
          </div>
        </div>
        <div class="product-item">
          <div class="product-img">
            <img class="shop-img" src="/img/product-2.jpg">
            <p class="shop-price">Rs.1500</p>
          </div>
          <div class="product-info">
            <h1 class="shop-title">HRX Black Shoes</h1>
            <button class="add-cart btn">Add To Cart</button>
            <button class="add-wish btn">Buy Now</button>
          </div>
        </div>
        <div class="product-item">
          <div class="product-img">
            <img class="shop-img" src="/img/product-2.jpg">
            <p class="shop-price">Rs.1500</p>
          </div>
          <div class="product-info">
            <h1 class="shop-title">HRX Black Shoes</h1>
            <button class="add-cart btn">Add To Cart</button>
            <button class="add-wish btn">Buy Now</button>
          </div>
        </div>
      </div>
    </section>





    <section class="post-ads section">
      <div class="ad-poster">
        <div class="section-title">
            <h1>Post Your Ad</h1>
        </div>
        <form class="form" id="form">

          <div class="form-control">
            <label>Your Ad Category</label>
            <select name="categories" required>
              <option value="">Select A Category</option>
              <option value="">Car</option>
              <option value="">Bike</option>
              <option value="">Mobile</option>
              <option value="">House</option>
              <option value="">Plot</option>
            </select>
          </div>

          <div class="form-control">
            <label>Your Ad Name</label>
            <input type="text" name=""  placeholder="Enter A Shor Name For Your Ad" required>
          </div>

          <div class="form-control">
            <label>Details Of Ad</label>
            <input type="text" name=""  placeholder="Enter Full Description For Your Ad" required>
          </div>

          <div class="form-control">
            <label>Your Phone Number</label>
            <input type="number" name="" id="ph-no" placeholder="Enter Your Phone Number" required>
          </div>

          <div class="form-control">
            <label>Your Home Or Office Address</label>
            <input type="text" name=""  placeholder="Enter Your Home Or Office Address" required>
          </div>

          <div class="form-control">
            <label>Place Here A Photo Of Your Ad</label>
            <input type="file" name=""  placeholder="Place A Photo Of Your Ad" required>
          </div>
          <input type="submit" value="submit" class="btn" name="">
        </form>
      </div>
    </section>

  </div>
</div>-->

  <!-- Swiper JS -->
  <script src="/js/swiper.min.js"></script>
  <script src="/js/index.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>