<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Capital Marketing</title>
  <meta name="description" content="Buy, rent or sell property in your capital Islamabad">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="/css/swiper.min.css">

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

  <div class="preloader">
    <img draggable="false" class="preloader-logo" src="/img/logo.jpg" alt="">

    <div class="loader">
    </div>
    <p>Loading</p>

  </div>





<div class="main-screen">
  
  <div class="header">
    <div class="logo"><img draggable="false" src="/img/logo.jpg" loading="lazy" alt=""></div>
    <div class="navbar">
      <ul class="nav-options">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/plots/buy">Buy</a></li>
        <li><a href="/plots/sell">Sell</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="header-right"></div>
  </div>

  

  <div class="page-body">
    <section id="home" class="home">
      <div class="swiper-container">
       <div class="swiper-wrapper">
         
          <div class="swiper-slide">
            <img src="/img/h1.jpg" loading="lazy">
          </div>

          <div class="swiper-slide">
            <img src="/img/h2.jpg" loading="lazy">
          </div>

          <div class="swiper-slide">
            <img src="/img/h4.jpg" loading="lazy">
          </div>

          <div class="swiper-slide" loading="lazy">
            <img src="/img/h3.jpg">
            <!--<div class="slide-caption">
              <h3 class="caption-title">The Grand Atrium</h3>
              <p class="caption-desc">fdfddff dfdfdffddfh ggh gh hggh gh ghghhgghghhg </p>
              <a class="view-more-btn" href="#">View Details</a>
            </div>-->
          </div>

        </div>


        
        <div class="swiper-pagination"></div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>


    <section id="projects" class="projects">
      <div class="section-title"><h1>Our Projects</h1></div>
      <div class="projects-list">
        
        <a href="/projects/project" class="project">
          <img class="project-img" src="/img/user-1.png" alt="">
          <h2 class="project-name">The Grand Atrium</h2>
          <p class="project-desc">Islamabad</p>
        </a>

        <a href="/projects/project" class="project">
          <img class="project-img" src="/img/user-1.png" alt="">
          <h2 class="project-name">The Grand Atrium</h2>
          <p class="project-desc">Islamabad</p>
        </a>

        <a href="/projects/project" class="project">
          <img class="project-img" src="/img/user-1.png" alt="">
          <h2 class="project-name">The Grand Atrium</h2>
          <p class="project-desc">Islamabad</p>
        </a>

      </div>
    </section>


  </div>
</div>



  <!-- Swiper JS -->
  <script src="/js/swiper.min.js"></script>
  <script src="/js/index.js"></script>

  <!-- Initialize Swiper -->
  <script>
    
  </script>
</body>
</html>
