<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Grand Atrium - Capital Marketing</title>
  <meta name="description" content="Buy, rent or sell property in your capital Islamabad">

  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/project-view.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="/css/swiper.min.css">

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>

  <div class="preloader">
    <img draggable="false" class="preloader-logo" loading="lazy" src="/img/logo.jpg" alt="">

    <div class="loader">
    </div>
    <p>Loading</p>
  </div>




  <div class="main-screen">

    <div class="header">
      <div class="logo"><img draggable="false" src="/img/logo.jpg" loading="lazy" alt=""></div>
      <div class="navbar">
        <ul class="nav-options">
          <li><a href="/" >Home</a></li>
        <li><a href="/plots/buy">Buy</a></li>
        <li><a href="/plots/sell">Sell</a></li>
        <li><a href="#projects" class="active">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="header-right"></div>
    </div>


    <div class="page-body">
      <div class="project-images-slide">
        <div class="images-slide">
          <div class="swiper-container">
            <div class="swiper-wrapper">
               <div class="swiper-slide">
                <img src="/img/2.jpg" class="slide-img" alt="">
               </div>
               <div class="swiper-slide">
                 <img src="/img/1.jpg" class="slide-img" alt="">
               </div>
             </div>
     
             
             <div class="swiper-pagination" ></div>
             <div class="swiper-button-next"></div>
             <div class="swiper-button-prev"></div>
           </div>
        </div>
        <div class="mini-images">
          <img src="/img/user-1.png" class="mini-image" loading="lazy" alt="">
          <img src="/img/user-1.png" class="mini-image" loading="lazy" alt="">
          <img src="/img/user-1.png" class="mini-image" loading="lazy" alt="">
          <img src="/img/user-1.png" class="mini-image" loading="lazy" alt="">
          <img src="/img/user-1.png" class="mini-image" loading="lazy" alt="">
        </div>

      </div>

      <div class="text-captions">
        <div class="project-details">
          <div class="detatil-paragraph">
            <h1 class="paragraph-title">Details:</h1>
            <p class="paragraph-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In corporis id nesciunt, cupiditate animi adipisci dolorem et! Laudantium, minima quidem?</p>
          </div>
        </div>
  
        <div class="project-description">
          <div class="detatil-paragraph">
            <h1 class="paragraph-title">Description:</h1>
            <p class="paragraph-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum minus placeat perspiciatis natus dolorum dolor, iure, quod harum voluptatem est nobis architecto, distinctio minima labore? Ipsum, voluptatem praesentium! Consequuntur aliquam ullam repellendus, corrupti nisi sequi tempora illum omnis, id, vel quos magni? Quo blanditiis pariatur non possimus provident sequi rerum facere vel ullam alias deleniti, dignissimos assumenda temporibus, accusamus unde sapiente ab corporis illo tempore earum autem sint dolorem debitis? Itaque, nostrum? Fuga, quas doloribus. Nam assumenda in temporibus, eos adipisci nobis quis voluptas, odit laudantium necessitatibus perspiciatis? Officiis facere praesentium quae. Aliquam libero adipisci ut hic exercitationem, voluptates perferendis voluptatibus ea aperiam! Ratione ullam asperiores odio magnam repellat sed dolores tenetur vel quisquam iure consequatur autem porro dolorem accusantium atque sequi, harum voluptatibus quibusdam molestias unde pariatur fuga hic quasi corrupti. Neque perferendis quae, et, molestiae nam voluptatum nihil expedita eveniet molestias culpa reprehenderit? Aperiam dolore excepturi necessitatibus quae?</p>
          </div>
        </div>

        <div class="project-plans">
          <div class="detatil-paragraph">
            <h1 class="paragraph-title">Build Plans/Maps:</h1>
            <p class="paragraph-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio consectetur exercitationem quam possimus nam. Quam corrupti a optio quidem dolore!</p>
            <div class="maps-list">
              <div class="map">
                <h4 class="map-name">Ground Flour Plan</h4>
                <a href="" class="map-action-btn">View/Download</a>
              </div>

              <div class="map">
                <h4 class="map-name">First Flour Plan</h4>
                <a href="" class="map-action-btn">View/Download</a>
              </div>

              <div class="map">
                <h4 class="map-name">Second Flour Plan</h4>
                <a href="#" class="map-action-btn">View/Download</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <footer class="footer">
      <div class="footer-left">
        <h2 class="title">CONTACTS</h2>
        <div class="content">
          <p style="margin-right: 30px;"> <i class="fa fa-map-marker-alt"></i> Ali Hussnain  dfdfdf df df df df df fd dffd df df dfdfhow are you?</p>
          <p> <i class="fa fa-phone-alt"></i> 03435206962</p>
          <p> <i class="fa fa-envelope"></i>info@capitalmarketing.live</p>
        </div>
      </div>
      <div class="footer-right">
        <h2 class="title">RECENT POSTS</h2>
      </div>
    </footer>

    <div class="copy-rights">
      <p>Copyright 2021 by <a href="#">Capital Marketing</a> | All rights reserved.</p>
    </div>
  </div>



  <!-- Swiper JS -->
  <script src="/js/swiper.min.js"></script>
  <script src="/js/index.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>
</html>
